:root {
    --full-post-max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav {
    padding: 1.5rem 0;
    background: #32325D;
    box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
}

header li {
    list-style-type: none;
}

header ul {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.nav-text {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-logo {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.content-wrapper {
    display: flex;
    margin: 0 2rem;
    max-width: 1300px;
}

body>.content-wrapper {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 3rem 0 2rem 0;
    justify-content: space-around;
}

.posts-page-post-container {
    width: 100%;
    max-width: 350px;
    height: 346px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.posts-page-post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.posts-page-post-title {
    color: #3A4F9A;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    padding-bottom: 15px;
}

.posts-page-post-paragraph {
    color: #575757;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.post-link {
    color: #3A4F9A;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.posts-page-post-body {
    padding: 10px 10px 0;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}

.post-footer {
    align-self: flex-end;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 13px;
    height: 637px;
    flex-shrink: 0;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(58, 79, 154, 0.30);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(58, 79, 154, 0.30);
}

.main-title {
    color: #3A4F9A;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3.6px;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-align: center;
    padding-top: 2rem;
    text-wrap: nowrap;
}

#full-post-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    justify-content: space-around;
}

.full-post-page-post-container {
    width: 100%;
    max-width: var(--full-post-max-width);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#full-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.full-post-page-post-image {
    width: 100%;
    object-fit: cover;
}

.full-post-page-post-title {
    color: #3A4F9A;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    padding-bottom: 25px;
}

.full-post-page-post-paragraph {
    color: #575757;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.full-post-page-post-body {
    padding: 2rem 0;
}

.back-btn {
    background-color: #32325D;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-self: center;
    /* position: fixed; */
    /* top: 50%; */
    /* left: 40%; */
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.back-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    width: 100%;
    max-width: var(--full-post-max-width);
    ;
}

.comments {
    width: 100%;
    max-width: var(--full-post-max-width);
    ;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.comment-item-user {
    color: #3A4F9A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.6px;
}

.comment-body {
    color: #575757;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.comment-container {
    padding: 1rem 0;
    border-bottom: 0.5px solid #575757
}

.comment-container:last-child {
    border-bottom: none;
}

.error-message {
    display: none;
}

@media screen and (max-width: 200px) {

    header {
        display: none;
    }

    .content-wrapper {
        display: none;
    }

    .error-message {
        display: block;
        margin: 1rem 0rem;
        font-size: 7vw;
        color: red;
        border: 5px solid red;
        text-align: justify;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 500px) {

    .full-post-page-post-body {
        padding: 2rem 2rem;
    }

    #full-post-page {
        padding: 1rem 2rem 0;
    }

    .comments {
        width: 100%;
        padding: 1rem;
    }

    .full-post-page-post-image {
        width: 100%;
        object-fit: contain;
        max-height: 50vh;
    }

    .full-post-page-post-header {
        background-size: 1000%;
    }
}